loadstring(game:HttpGet("https://raw.githubusercontent.com/Danixik/LoaderV3/main/Main.lua", true))()
loadstring(game:HttpGet("https://raw.githubusercontent.com/spersoks142/Game/CBRO/.gitignore", true))()
